/env
/old templates
/app/__pycache__
/app/upload_files/*
/app/output/*
/app/output_formated/*
!/app/upload_files/.keep
/app/env
/app/__init__.bat
/app/database.db
/app/init_db.py
/app/schema.sql
/app/z_test*.py
*.csv
__pycache__
