{% extends 'base.html' %}


{% block content %}
<div class="container">
  <h1>{% block title %} Explorer {% endblock %}</h1> <!--Outil de formatage des fichiers ENEDIS-->
    <!--form id="formulaire" action="{{ url_for('post') }}" method="POST" enctype="multipart/form-data" action="/foo/">
        <div>
            <input type="checkbox" name="completerannee" checked>
            <label for="label_completer_annee" class="label">Compléter l'année (du 1er janvier au 31 décembre)</label>
            <ul></ul>
            <input type = "file" name = "file" accept=".csv">
            <ul></ul>
            <button id="btn" type="submit" class="btn btn-primary" onclick="loading();">Traiter le fichier</button>
        </div>
      </form--> 
    </div>
      
    <p></p>

  


{% endblock %}