{% extends 'base.html' %}

{% block head %} 
{% endblock %}

{% block content %}

<div class="container">

  <h1>{% block title %} Outil de formatage des fichiers ENEDIS {% endblock %}</h1>
          <p></p>
          <div id="loading">
            <div class="loader"></div>Le traitement peut durer quelques minutes, veuillez patienter...
            <ul></ul>
          </div>
          <div id="message"></div>

          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        var refresh_id = setInterval(function() {
            $.get(
              "{{ url_for('thread_status') }}",
              function(data) {
                if (data.status == 'finished') {
                  //window.location.replace("{{ url_for('loader') }}");
                  document.getElementById("message").innerHTML = "finished";
                }
              }
            )}
          , 1000);
      });
    </script>

</div>
{% endblock %}